---
import Layout from "../layouts/Layout.astro";
import "./index.css"
import Image from "astro/components/Image.astro";

import wiresLeft from "../assets/title/title_wires_left.svg"
import wiresRight from "../assets/title/title_wires_right.svg"
import wiresSwitch from "../assets/title/title_wires_switch.svg"
import titleSwitch from "../assets/title/title_switch.svg"
import hcFlag from "../assets/title/flag-standalone.png"


import rgbledPicture from "../assets/polaroids/rgbled_picture.png"
import timesSquare from "../assets/polaroids/times_square.png"
import mbta from "../assets/polaroids/mbta.png"
import protogen from "../assets/polaroids/protogen.png"
import busTracker from "../assets/polaroids/busTracker.png"
import spotify from "../assets/polaroids/spotify.png"
import conways from "../assets/polaroids/conways.png"
import british from "../assets/polaroids/british.png"

import Polaroid from "../components/polaroid.astro";
import FAQStickyNote from "../components/sticky_note.astro";

import arrow from "../assets/arrow.svg"
import editor from "../assets/editor.jpeg"
---

<Layout>
    <main>
    <div class="titleContainerContainer">
    <div class="titleContainer">
        <div class="titleMatrix">
            <Image class="flag" src={hcFlag} alt="hack club flag" />
            <h1>NEON</h1>
        </div>
        <Image class="wiresLeft" src={wiresLeft} alt="wires left"/>
        <Image class="wiresRight" src={wiresRight} alt="wires right"/>
        <Image class="wiresSwitch" src={wiresSwitch} alt="wires switch"/>
        <Image class="titleSwitch" src={titleSwitch} alt="title switch"/>
        <rect x="74.9763" y="51.1414" width="39" height="47" transform="rotate(2.73114 74.9763 51.1414)" fill="#898989"/>y
    </div>
    </div>
        <div class="bodyContainer">
            <div class="body">
                <div class="bodyTextContainer">
                    <h1>LED matrices are the super-bright pixel displays used on Times Square...
                    </h1>
                </div>


                <div class="instructions">

                    <div class="step step1">
<!--
                        <div class="prelabel">When you ship...</div>
-->
                        <Image src={editor} alt=""></Image>
                    </div><!--
                        <div class="prelabel">We'll ship...</div>
-->

                    <Image src={arrow} alt="arrow" class="arrow"></Image>
                    <div class="step step2">

                        <Image src={rgbledPicture} alt=""></Image>
                    </div>
                </div>

                <div class="bodyTextContainer">
                    <h1>Make something cool, and we'll send one to you!</h1>
                </div>

            </div>



            <div class="polaroids">
                <div class="polaroidsLabel">
                    you could build...
                </div>
                <Polaroid image={timesSquare} i="-3">matricies at times square!</Polaroid>
                <Polaroid image={mbta} i="-2">mbta, boston!</Polaroid>
                <Polaroid image={protogen} i="-1">max's protogen head!</Polaroid>
                <Polaroid image={busTracker} i="0">gus' bus tracker!</Polaroid>
                <Polaroid image={spotify} i="1">spotify tracker on my desk</Polaroid>
                <Polaroid image={conways} i="2">conway's game of life!</Polaroid>
                <Polaroid image={british} i="3">exhibit at british museum!</Polaroid>
            </div>

            <div class="faq">
                <FAQStickyNote title></FAQStickyNote>
                <FAQStickyNote q="How can I get started?">
                   Head to the <a href="/editor">editor</a> to start making a project! To learn how, check out the <a href="https://learn.adafruit.com/rgb-led-matrices-matrix-panels-with-circuitpython/example-simple-two-line-text-scroller">Adafruit Tutorials</a>
                </FAQStickyNote>
                <FAQStickyNote q="How do I get a matrix?">
                Make a project and post it in the #neon channel in the <a href="https://hackclub.com/slack">Hack Club Slack</a>! @cheru will DM you with next steps.
                </FAQStickyNote>
                <FAQStickyNote q="I need help!">
                    Post about it in the #neon channel! @cheru will be online to help with anything you need.
                </FAQStickyNote>
                <FAQStickyNote q="How long is this running?">
                    First iteration is running until the end of January, 2024! Lock in :)
                </FAQStickyNote>
                <FAQStickyNote q="How much does it cost?">
                    Hack Club programs are free free free! If you make a project, we'll ship you a matrix kit for free!
                </FAQStickyNote>
                <FAQStickyNote q="What can I make?">
                    For now, the criteria is pretty general: anything cool that utilizes a matrix & is written with the Neon editor! Ask in #neon for clarification.
                </FAQStickyNote>
            </div>

            <div class="footer">

            </div>
        </div>
    </main>
</Layout>